<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Admin page</title>

        <!-- Bootstrap Core CSS -->
        <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/admin/css/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="/admin/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="/admin/css/dataTables/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/admin/css/startmin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link rel="icon bar" type="text/css" href="/img/adminpage.jpg">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
         <%if(typeof err !== 'undefined'){%>
            <script type="text/javascript">
                alert("<%=err %>")
            </script>         
         <%}%>

        <div id="addusermodal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm người dùng</h4>
              </div>

              <div class="modal-body">
                <form action="/languageex/admin/home/manage/user" method="POST">
                    <div class="form-group">
                        <label for="usr">Email: </label>
                        <input type="email" class="form-control" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mật khẩu:</label>
                        <input type="password" class="form-control" name="password" value="a12345" required pattern="(?=.*\d)(?=.*[a-z]).{6,}" title="Must contain at least one number and lowercase letter, and at least 6 or more characters" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="usr">Tên: </label>
                        <input type="text" class="form-control" name="name" value=""  minlength="6" maxlength="30" pattern="[A-Za-z0-9 ]{6,30}" required> 
                    </div>
                    <div class="form-group">
                        <label for="comment">Mô tả:</label>
                        <textarea class="form-control" rows="5" name="describeuser"> Sau khi duoc cap tai khoan vui long thay doi lai mo ta va anh dai dien cua minh it nhat 40 ki tu.
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="comment">Giới tính:</label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="male" checked>male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="female">female
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="unknown">unknown
                        </label>
                    </div>

                     <div class="form-group">
                         <label for="comment">Ngày sinh:</label>
                         <input type="date" name="bday" max="2012-12-31" min="1900-12-31" required>
                    </div>

                    <div class="form-group">
                        <label for="comment">Ngôn ngữ trao đổi:</label>
                        <select class="form-control" style="width:30%;color: #3366ff;" name="languageexchange" id="selectexlg">
                        
                        </select>
                    </div>

                     <div class="form-group">
                        <label for="comment">Trình độ trao đổi:</label>
                        <select class="form-control" style="width:30%;color: #3366ff;" name="selectlevel"  id="selectde">
                            
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="comment">Ngôn ngữ tự nhiên:</label>
                        <select class="form-control" style="width:30%;color: #3366ff;" name="selectnative"   id="selectnativelg">
                  
                        </select>
                    </div>
                    <input type="submit" class="btn btn-default" value = "Xong">
                </form>
              </div>
              
            </div>

          </div>
        </div>

        <div id="editusermodal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sửa tài khoản người dùng</h4>
              </div>

              <div class="modal-body">
                <form action="/languageex/admin/home/manage/user" method="POST">
                    <div class="form-group">
                        <label for="usr">Email: </label>
                        <input type="email" class="form-control" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mật khẩu:</label>
                        <input type="password" class="form-control" name="password" value="a12345" required pattern="(?=.*\d)(?=.*[a-z]).{6,}" title="Must contain at least one number and lowercase letter, and at least 6 or more characters" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="usr">Tên: </label>
                        <input type="text" class="form-control" name="name" value=""  minlength="6" maxlength="30" pattern="[A-Za-z0-9 ]{6,30}" required> 
                    </div>
                    <div class="form-group">
                        <label for="comment">Mô tả:</label>
                        <textarea class="form-control" rows="5" name="describeuser"> Sau khi duoc cap tai khoan vui long thay doi lai mo ta va anh dai dien cua minh it nhat 40 ki tu.
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="comment">Giới tính:</label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="male" checked>male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="female">female
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="unknown">unknown
                        </label>
                    </div>

                     <div class="form-group">
                         <label for="comment">Ngày sinh:</label>
                         <input type="date" name="bday" max="2012-12-31" min="1900-12-31" required>
                    </div>

                    <div class="form-group">
                        <label for="comment">Ngôn ngữ trao đổi:</label>
                        <select class="form-control" style="width:30%;color: #3366ff;" name="languageexchange" id="selectexlg">
                        
                        </select>
                    </div>

                     <div class="form-group">
                        <label for="comment">Trình độ trao đổi:</label>
                        <select class="form-control" style="width:30%;color: #3366ff;" name="selectlevel"  id="selectde">
                            
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="comment">Ngôn ngữ tự nhiên:</label>
                        <select class="form-control" style="width:30%;color: #3366ff;" name="selectnative"   id="selectnativelg">
                  
                        </select>
                    </div>
                    <input type="submit" class="btn btn-default" value = "Xong">
                </form>
              </div>
              
            </div>

          </div>
        </div>


          <div id="lockusermodal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Khóa người dùng</h4>
              </div>
                  
                  <div class="modal-body">
                     <div class="form-group">
                        <label for="comment">Lí do khóa:</label>
                        <textarea class="form-control" rows="2" id="reasondelete"> </textarea>
                     </div>
                     <div class="form-group">
                        <label for="comment">Thời gian khóa:</label>
                        <select class="form-control" style="width:30%;color: #3366ff;" id="timeblock">
                           <option value="10">10 ngày</option>
                           <option value="30">1 tháng</option>
                           <option value="90">3 tháng</option>
                           <option value="180">6 tháng</option>
                           <option value="365">1 năm</option>
                        </select>
                    </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="lockuserdone">Xong</button>
               </div>
              
            </div>

          </div>
        </div>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/languageex/admin/home">Trang quản trị</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="/languageex/home"><i class="fa fa-home fa-fw"></i>Trang chủ</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a onclick="Logout()" style="cursor: pointer;"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="/languageex/admin/home" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            
                            <li>
                                <a href="/languageex/admin/home/manage/user"><i class="fa fa-user-md fa-fw"></i> Quản lí người dùng</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-warning fa-fw"></i> Quản lí report<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/languageex/admin/home/manage/reportp">Report bài đăng</a>
                                    </li>
                                    <li>
                                        <a href="/languageex/admin/home/manage/reportmsg">Report tin nhắn người dùng</a>
                                    </li>
                                    <li>
                                        <a href="/languageex/admin/home/manage/reportpro">Report trang cá nhân</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="forms.html"><i class="fa fa-comments fa-fw"></i> Quản lí bài đăng</a>
                            </li>
                            <li>
                                <a href="forms.html"><i class="fa fa-bell fa-fw"></i> Thông báo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Danh sách người dùng</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Dữ liệu người dùng
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Email</th>
                                                <th>Ảnh</th>
                                                <th>Điểm</th>
                                                <th>Giới tính</th>
                                                <th>Sửa</th>
                                                <th>Xóa</th>
                                                <th>Khóa</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success" onclick="addUser()">Thêm người dùng</button>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="/admin/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/admin/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/admin/js/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/admin/js/startmin.js"></script>

        <script type="text/javascript" src = "/js/admin/manageuser.js"></script>>
    </body>
</html>
